*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../anh/background.webp);
}
#dang_nhap{
    width: 100%;
    height: 650px;
    background-color: rgb(210, 210, 210);
    background-image: url("../anh/nphrgz8yfnjylrwfr0yl.webp");
    margin: auto;
}
#dang_nhap li{
    display: inline;
}
#dang_nhap a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 40px;
    padding: 50px;
}
#dang_nhap ul{
    padding-top: 100px;
}
#dang_nhap a:hover{
    color: rgb(255, 0, 0);
}
/*  */
#dang_nhap table{
    margin-left: 500px;
    padding-top: 30px;
}
#dang_nhap table tr td{
    color: white;
    padding-top: 20px;
}
.signin{
    width: 400px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(185, 185, 185);
    font-size: 25px;
}
#dang-nhap input{
    margin-right: 20px;
}
#dang_nhap button{
    padding: 5px;
    width: 400px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(83, 157, 236);
    color: white;
}
#dang_nhap button:hover{
    color: red;
}
@media (min-width:428px) {
    .dang_nhap{
        width: 1000px;
        margin: auto ;
    }
    #dang_nhap li{
        display: inline;
    }
    #dang_nhap a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 40px;
        padding: 50px;
    }
    #dang_nhap ul{
        text-align: center;
        padding-top: 100px;
    }
    #dang_nhap a:hover{
        color: rgb(255, 0, 0);
    }
}
/* @media (min-width:1280px) {
    .wrap{
        width: 1000px;
        margin: auto;
    }
    .menu li{
        display: inline;
        padding-left: 10px;
    }
    .header img{
        width: 100%;
        display: block;
        content: url(images/banner.png);
    }
} */