<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản trị website</title>
    <link rel="stylesheet" href="css/common.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>QUẢN TRỊ WEBSITE</h1>
            <nav>
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Loại hàng</a></li>
                    <li><a href="#">Hàng hóa</a></li>
                </ul>
            </nav>
        </header>
        <article>
            <div class="headline">
                <h2>QUẢN LÝ HÀNG HÓA</h2>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th>Đơn giá</th>
                        <th>Lượt xem</th>
                        <th>Ngày đăng</th>
                        <th>hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            <img src="images/samsung-galaxy-s20-fan-edition-090320-040338-600x600.jpg" width="123"
                                alt="">
                        </td>
                        <td>Samsung galaxy s20</td>
                        <td>100$</td>
                        <td>0</td>
                        <td>3/12/2021</td>
                        <td>
                            <button class="btn btn-default"><a href="#">Sửa</a></button>
                            <button class="btn btn-danger"><a href="#">Xóa</a></button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            <img src="images/samsung-galaxy-s20-fan-edition-090320-040338-600x600.jpg" width="123"
                                alt="">
                        </td>
                        <td>Samsung galaxy s20</td>
                        <td>100$</td>
                        <td>0</td>
                        <td>3/12/2021</td>
                        <td>
                            <button class="btn btn-default"><a href="#">Sửa</a></button>
                            <button class="btn btn-danger"><a href="#">Xóa</a></button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            <img src="images/samsung-galaxy-s20-fan-edition-090320-040338-600x600.jpg" width="123"
                                alt="">
                        </td>
                        <td>Samsung galaxy s20</td>
                        <td>100$</td>
                        <td>0</td>
                        <td>3/12/2021</td>
                        <td>
                            <button class="btn btn-default"><a href="#">Sửa</a></button>
                            <button class="btn btn-danger"><a href="#">Xóa</a></button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            <img src="images/samsung-galaxy-s20-fan-edition-090320-040338-600x600.jpg" width="123"
                                alt="">
                        </td>
                        <td>Samsung galaxy s20</td>
                        <td>100$</td>
                        <td>0</td>
                        <td>3/12/2021</td>
                        <td>
                            <button class="btn btn-default"><a href="#">Sửa</a></button>
                            <button class="btn btn-danger"><a href="#">Xóa</a></button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            <img src="images/samsung-galaxy-s20-fan-edition-090320-040338-600x600.jpg" width="123"
                                alt="">
                        </td>
                        <td>Samsung galaxy s20</td>
                        <td>100$</td>
                        <td>0</td>
                        <td>3/12/2021</td>
                        <td>
                            <button class="btn btn-default"><a href="#">Sửa</a></button>
                            <button class="btn btn-danger"><a href="#">Xóa</a></button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            <img src="images/samsung-galaxy-s20-fan-edition-090320-040338-600x600.jpg" width="123"
                                alt="">
                        </td>
                        <td>Samsung galaxy s20</td>
                        <td>100$</td>
                        <td>0</td>
                        <td>3/12/2021</td>
                        <td>
                            <button class="btn btn-default"><a href="#">Sửa</a></button>
                            <button class="btn btn-danger"><a href="#">Xóa</a></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    </div>
</body>

</html>