<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản trị website</title>
    <link rel="stylesheet" href="css/common.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>QUẢN TRỊ WEBSITE</h1>
            <nav>
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Loại hàng</a></li>
                    <li><a href="#">Hàng hóa</a></li>
                </ul>
            </nav>
        </header>
        <article>
            <div class="headline">
                <h2>QUẢN LÝ LOẠI HÀNG</h2>
            </div>
            <form action="index.php" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="">Mã loại</label>
                            <input class="form-control" type="text" name="maloai" readonly placeholder="auto number"
                                disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="">Tên loại</label>
                            <input class="form-control" type="text" name="tenloai" placeholder="tên hàng">
                        </div>
                    </div>


                </div>
                <button class="btn" type="submit" name="btn_insert">Thêm</button>
                <button class="btn"><a href="">Danh sách</a></button>
            </form>
        </article>
    </div>
</body>

</html>